:root{
    --white: #f0f3f5;
    --black:#000000;
    --redISDEGU: #900615;
    --bluegray: #43485c;

    --lightred: #f82015;
    --orange: #FF9E2E;
    --lightblue: #566e85;
    --yellow: #FFC000;
}
