@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|PT+Sans+Narrow:400,700|Dosis:400,600|Yanone+Kaffeesatz:400,700,300);
@import url(color.css);

* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto Condensed', sans-serif;
  width: 100%;
  min-height: 100%;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(245, 245, 245, 0);
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--bluegray);
}

.white {
  color: var(--white)
}

/**** to top button ****/
#toTop {
  display: inline-block;
  background-color: var(--orange);
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#toTop::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}

#toTop:hover {
  cursor: pointer;
  background-color: #333;
}

#toTop:active {
  background-color: #555;
}

#toTop.show {
  opacity: 1;
  visibility: visible;
}

/**** Banner ppal ****/
.hero {
  background-image: url(../images/modern-6528732_1280.png);
  background: linear-gradient(rgba(37, 37, 37, 0.6), rgba(13, 13, 29, 0.6)), rgba(59, 12, 12, 0.5) url("../images/ocean-g3bfc34c0a_1920.jpg") no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: var(--white);
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  /* font-family: 'Poppins', sans-serif; */
}

.hero .title {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 4.5rem;
  color: var(--white);
  font-weight: 500;
}

.hero .subtitle {
  font-size: 1.5rem;
  padding: 5px;
  color: var(--white);
}

@media only screen and (min-width: 1024px) and (max-width: 1215px) {
  .hero.is-large .hero-body {
    padding: 12rem 6rem;
  }

  .hero .title {
    font-size: 3rem;
  }

  .hero .subtitle {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1023px) {
  .hero.is-large .hero-body {
    padding: 4rem;
  }

  .hero .title {
    font-size: 3rem;
  }

  .hero .subtitle {
    font-size: 1.2rem;
  }
  
}

@media (max-width: 599px) {
  .hero .title {
    font-size: 2.5rem;
  }

  .hero .subtitle {
    font-size: 1.2rem;
  }
}

/**** Logo ****/
.is-flex-center {
  display: flex;
  align-items: center;
}

.is-header-text {
  margin-top: 10px;
  width: fit-content;
  font-weight: bolder;
}

.is-header-text #isdegu-logo {
  width: 4rem;
  margin-right: 0.25rem;
}

.is-header-text .title {
  font-size: 2.5rem;
  font-weight: 800;
}

.is-header-text .title span {
  font-size: 1.3rem;
  font-weight: normal;
}

.is-main-title {
  padding: 0rem 5rem;
}

.is-main-title h1.title {
  font-size: 5rem;
}

@media only screen and (min-width: 600px) and (max-width: 1215px) {
  .is-header-text #isdegu-logo {
    width: 3rem;
    margin-right: 0.25rem;
    margin-left: 0.5rem;
  }

  .is-header-text .title {
    font-size: 2rem;
  }

  .hero.is-medium .hero-body {
    padding: 7rem 4.5rem;
  }
}

@media (max-width: 599px) {
  .is-header-text #isdegu-logo {
    width: 3rem;
    margin-right: 0.25rem;
    margin-left: 0.5rem;
  }

  .is-header-text .title {
    font-size: 2rem;
  }

  .is-header-text .title span {
    font-size: 1.1rem;
  }

  .is-main-title {
    padding: 4rem 1rem 8rem 1rem;
  }

  .is-main-title h3.title {
    font-size: 3.5rem;
  }

  .is-main-title h4.subtitle {
    font-size: 1.2rem;
  }
}

/**** Menu ****/
.main-content {
  /* padding-top: 2rem; */
  color: var(--lightblue);
  /* font-family: 'Poppins', sans-serif; */
}

.main-content .section-dark {
  background-color: var(--white);
  padding: 60px 0px;
}

.main-content .section-dark.our-work {
  padding: 8rem 8rem 9rem 8rem ;
}

.main-content .section-dark.our-work figure {
  cursor: pointer;
}

@media only screen and (min-width: 600px) and (max-width: 1215px) {
  .main-content .section-dark.our-work {
    padding: 60px 0px;
  }
}

@media (max-width: 599px) {
  .main-content .section-dark.our-work {
    padding: 75px 20px;
  }
}

.main-content .section-dark.our-work .work-item {
  margin-bottom: 1rem;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  border-radius: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 5px 20px rgba(14, 25, 80, 0.3);
}

.main-content .section-dark.our-work .work-item:hover {
  -webkit-transform: scale(1.055) translateY(-2px);
  transform: scale(1.055) translateY(-2px);
  -webkit-box-shadow: 0 2px 25px 0 rgba(30, 30, 30, 0.1);
  box-shadow: 0 2px 25px 0 rgba(30, 30, 30, 0.1);
}

.main-content .section-light {
  padding: 8rem 8rem 9rem 8rem ;
}

.main-content .section-light.about-us .is-larger {
  font-size: 1.2rem;
}

@media (max-width: 599px) {
  .main-content .section-light.about-us .about-links {
    text-align: center;
  }
}

.main-content .section-light.about-us .right-image img {
  border-radius: 11px;
  margin: 20px;
  box-shadow: 0 5px 20px rgba(14, 25, 80, 0.3);
}

@media (max-width: 599px) {
  .main-content .section-light.about-us .right-image img {
    margin: auto;
  }
}

.main-content .section-light.contact {
  padding: 200px;
}

.main-content .section-light.contact button {
  width: 100%;
  background-color: var(--bluegray);
  color: var(--white);
  height: 50px;
  font-size: 1.1rem;
  text-transform: uppercase;
  /* font-family: 'Poppins', sans-serif; */
}

@media (max-width: 599px) {
  .main-content .section-light.contact {
    padding: 60px 20px;
  }
}

.main-content .section-title {
  color: var(--bluegray);
  text-transform: uppercase;
  font-size: 2.2rem;
  letter-spacing: 2px;
  padding-bottom: 30px;
}

/**** Sections ****/
.has-vertically-aligned-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-content .services .card {
  background-color: var(--redISDEGU);
  color: var(--white);
}

.main-content .services .card strong {
  color: var(--white);
}

.main-content .services .card-image:first-child img {
  object-fit: cover;
}

.main-content .services .card-content {
  text-align: center;
}

#clinic {
  background: url(../images/concern-gb800463ba_1920.jpg);
  background: linear-gradient(rgba(43, 24, 24, 0.65), rgba(20, 8, 8, 0.65)), rgba(41, 39, 39, 0.55) url("../images/concern-gb800463ba_1920.jpg") no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#clinic .section-title {
  color: var(--white);
}

#clinic .subtitle {
  color: var(--white);
}

#fire {
  background: url(../images/fire-protection-3593033_1920B.jpg);
  background: linear-gradient(rgba(43, 24, 24, 0.65), rgba(20, 8, 8, 0.65)), rgba(41, 39, 39, 0.55) url("../images/fire-protection-3593033_1920B.jpg") no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#veterinary {
  background: url(../images/medicine-g61765af77_1920.jpg);
  background: linear-gradient(rgba(43, 24, 24, 0.65), rgba(20, 8, 8, 0.65)), rgba(41, 39, 39, 0.55) url("../images/medicine-g61765af77_1920.jpg") no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#contact {
  background: url(../images/workspace-ge51cada1f_1920.jpg);
  background: linear-gradient(rgba(63, 67, 73, 0.65), rgba(14, 8, 8, 0.65)), rgba(41, 39, 39, 0.55) url("../images/workspace-ge51cada1f_1920.jpg") no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#contact .contact-link {
  font-size: 3rem;
  color: var(--orange);
  margin-left: 2rem;
}

#mc-catalogo {
  padding: 2rem;
}

@media only screen and (min-width: 600px) and (max-width: 1215px) {
  .main-content .section-light {
    padding: 4rem;
  }

  .main-content .section-light .title {
    font-size: 2rem;
    padding-bottom: 0px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1215px) {
  #contact .contact-link {
    font-size: 2.5rem;
    margin-left: 0px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1215px) {
  .main-content .section-light {
    padding: 1rem;
  }

  .main-content .section-light.about-us .is-larger {
    font-size: 1.05rem;
  }

  .main-content .section-light.about-us .right-image img {
    margin: 20px 0px;
  }

}

@media (max-width: 599px) {
  .main-content .section-light {
    padding: 1rem;
  }

  .main-content .section-light .title {
    font-size: 1.5rem;
    padding-bottom: 0px;
  }

  .main-content .section-light.about-us {
    text-align: center;
  }

  .main-content .section-light.about-us .is-larger {
    font-size: 1.05rem;
  }

  .main-content .section-dark .title {
    font-size: 1.5rem;
    padding-bottom: 0px;
  }

  #clinic {
    padding: 2rem 0rem;
  }

  #fire {
    padding: 2rem 0rem;
  }

  #veterinary {
    padding: 2rem 0rem;
  }

  #contact {
    text-align: center;
  }

  #contact .contact-link {
    font-size: 2rem;
    margin-left: 0px;
  }

}

/**** Footer ****/
.hero .hero-foot {
  height: 50px;
  background: var(--redISDEGU);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.082);
}

@media (max-width: 599px) {
  .hero .hero-foot {
    display: none;
  }
}

.hero .hero-foot .hero-foot--wrapper {
  margin: 7px auto;
  height: 50px;
}

.hero .hero-foot .hero-foot--wrapper .hero-menu-desktop {
  line-height: 38px;
  font-weight: 600;
  text-transform: lowercase;
  letter-spacing: 1px;
  font-size: 1rem;
}

.hero .hero-foot .hero-foot--wrapper .hero-menu-desktop ul li {
  display: inline-block;
  padding-right: 15px;
  padding-left: 15px;
}

.hero .hero-foot .hero-foot--wrapper .hero-menu-desktop ul li.is-active a {
  border-bottom: 2px solid var(--white);
}

.hero .hero-foot .hero-foot--wrapper .hero-menu-desktop ul li a {
  color: var(--white);
}

.hero .hero-foot .hero-foot--wrapper .hero-menu-desktop ul li a:hover {
  color: var(--orange);
  transition: all .2s ease-in-out;
  border-bottom: 2px solid var(--orange);
}

.footer {
  bottom: 0;
  width: 100vw;
  height: 80px;
  line-height: 25px;
  text-align: center;
  background: var(--redISDEGU);
  color: var(--white);
  padding: 2rem 1.5rem 2rem;
}

.footer a {
  padding: 0rem 1rem 1rem 1rem;
  color: var(--white);
}

.footer a i {
  font-size: 1.5rem;
  padding: 0px 10px;
}

.footer a .nav-item {
  color: var(--white);
}

@media (max-width: 599px) {
  .footer {
    padding: 3rem 1.5rem 6rem;
  }
}

.breadcrumb {
  padding: 2rem;
}

.breadcrumb a {
  color: var(--redISDEGU)
}

@media (max-width: 1023px) {
  .breadcrumb {
    padding: 1rem;
    margin-bottom: 0rem !important;
  }

  #mc-catalogo {
    padding: 1rem 2rem;
  }
}

.main-content .section-light.catalog {
  padding: 0rem 9rem 9rem 9rem;
}

.main-content .catalog .card {
  background-color: var(--redISDEGU);
  color: var(--white);
}

.main-content .catalog .card:hover p {
  color: var(--orange);
  transition: all .2s ease-in-out;
  border-bottom: 2px solid var(--orange);
}

.main-content .catalog .card strong {
  color: var(--white);
}

.main-content .catalog .card-image:first-child img {
  object-fit: cover;
}

.main-content .catalog .card-content {
  text-align: center;
}

.main-content .catalog .card-content .content {
  color: var(--white);
  font-size: 1.5rem;
}

@media (max-width: 1023px) {
  .main-content .section-light.catalog {
    padding: 0rem 1rem 1rem 1rem;
  }

  .main-content .catalog .card-content {
    padding: 1rem;
  }

  .main-content .catalog .card-content .content {
    font-size: 1.2rem;
  }
  
}
