<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Isdegu - Bulma Theme</title>
    <link rel="stylesheet" type="text/css" href="../webresources/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../webresources/css/fonts.css"/>
    <link rel="stylesheet" type="text/css" href="../webresources/css/isdegu.css" />
    <link rel="stylesheet" type="text/css" href="../webresources/css/aos.css">
    <link rel="icon" type="image/png" href="../webresources/images/logo_isdegu.png" />
  </head>

  <body>
    <!-- Begin Header -->
    <div class="header-wrapper" id="home">
      <section class="hero is-large">
        <div class="hero-head">
          <header class="navbar">
            <div class="container">
              <a href="/" class="is-flex-center is-header-text">
                <img id="isdegu-logo" src="../webresources/images/logo_isdegu_blanco.png" alt="Logo">
                <h1 class="title">ISDEGU <span>SUMINISTROS</span></h1>
              </a>
            </div>
          </header>
        </div>
        <div class="hero-body">
          <div class="container is-main-title">
            <h3 class="title">Seguridad y compromiso</h3>
            <h4 class="subtitle">El espíritu de una firma líder en el sector de seguridad y abastecimiento sanitario</h4>
          </div>
        </div>

        

        <div class="hero-foot ">
          <div class="hero-foot--wrapper">
            <div class="columns">
              <div class="column is-12 hero-menu-desktop has-text-centered">
                <ul>
                  <li>
                    <a href="#about-us">¿Quiénes somos?</a>
                  </li>
                  <li>
                    <a href="#clinic">Mobiliario Clínico</a>
                  </li>
                  <li>
                    <a href="#fire">Contraincendios</a>
                  </li>
                  <li>
                    <a href="#services">Servicios</a>
                  </li>
                  <li>
                    <a href="#our-work">Nuestros trabajos</a>
                  </li>
                  <li>
                    <a href="#contact">Contáctanos</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- End Hero Menu -->
      </section>
      <!-- End Hero -->
    </div>
    <!-- End Header -->

    <!-- Begin Main Content -->
    <div class="main-content">

      <div class="section-light about-us" id="about-us">
        <div class="container">
          <div class="column is-12 about-us" data-aos="fade-in" data-aos-easing="linear">
            <h2 class="title has-text-centered section-title">Isdegu Suministros</h2>
          </div>
          <div class="columns is-multiline">
            <div class="column is-8 has-vertically-aligned-content" data-aos="fade-right">
              <p class="is-larger">
                <strong>
                  Somos una empresa constituida por un equipo dinámico y 
                  con el espíritu de ser una de las firmas más consolidadas 
                  en el sector de seguridad.
                </strong>
              </p>
              <br />
              <p>
                Isdegu Suministros tiene sus orígenes en el sector de la prevención y la 
                lucha contra incendios, donde nuestro servicio de calidad y eficiencia, 
                nos permitió consolidarnos en el mismo.
                Más adelante, nuestra firma creció y amplió su oferta a la venta y 
                distribución de mobiliario clínico, que inmediatamente se convirtió en uno 
                de nuestros servicios prioritarios. Garantizamos un servicio totalmente 
                personalizado y de calidad a empresas del sector sanitario.
              </p>
            </div>
            <div class="column is-4 right-image " data-aos="fade-left">
              <img class="is-rounded" src="../webresources/images/modern-6528732_1280.png" alt=""/>
            </div>
          </div>
        </div>
      </div>

      <section id="clinic" class="hero is-medium is-primary">
        <a href="#home">
          <div class="hero-body">
            <div class="container has-text-left" data-aos="fade-in">
              <h2 class="title">
                Mobiliario clínico
              </h2>
              <p class="subtitle">
                Servicio personalizado y de calidad en equipamiento del sector sanitario
              </p>
            </div>
          </div>
        </a>
      </section>
      <section id="fire" class="hero is-medium is-primary">
        <a href="#home">
          <div class="hero-body">
            <div class="container has-text-right" data-aos="fade-in">
              <h2 class="title">
                Sistemas contra incendios
              </h2>
              <p class="subtitle">
                Amplio catálogo de productos contra incendios. La seguridad es lo primero.
              </p>
            </div>
          </div>
        </a>
      </section>

      <div class="section-light services" id="services">
        <div class="column is-12 about-me" data-aos="fade-in" data-aos-easing="linear">
          <h2 class="title has-text-centered section-title">Un servicio de calidad</h2>
        </div>
        <br/>
        <br/> 
        
        <div class="tile is-ancestor">
          <div class="tile is-parent" data-aos="fade-in" data-aos-easing="linear">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="../webresources/images/skin-gdfea348ab_1920.jpg" alt="Placeholder image">
                </figure>
              </div>
              <div class="card-content">
                <div class="content">
                  Te ofrecemos un <strong>servicio totalmente personalizado y de calidad</strong>, garantizando
                  una adecuada instalación de nuestros productos.
                </div>
              </div>
            </div>
          </div>
          <div class="tile is-parent" data-aos="fade-in" data-aos-easing="linear">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="../webresources/images/fire-fighting-302586_1920.jpg" alt="Placeholder image">
                </figure>
              </div>
              <div class="card-content">
                <div class="content">
                  Cada instalación es realizada tras una <strong>exhaustiva planificación</strong> de la misma, 
                  cumpliendo todas las normativas tanto nacionales como provinciales de sistemas 
                  de protección contra incendios.
                </div>
              </div>
            </div>
          </div>
          <div class="tile is-parent" data-aos="fade-in" data-aos-easing="linear">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="../webresources/images/uso_de_extintores.jpg" alt="Placeholder image">
                </figure>
              </div>
              <div class="card-content">
                <div class="content">
                  Cumplimos con el <strong>compromiso</strong> de realizar revisiones periódicas para comprobar 
                  que el equipo cumpla con todos los requisitos de seguridad.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <section id="veterinary" class="hero is-medium is-primary">
        <a href="#home">
          <div class="hero-body">
            <div class="container has-text-left" data-aos="fade-in">
              <h2 class="title">
                Veterinaria
              </h2>
              <p class="subtitle">
                Mobiliario específico y personalizado para el sector veterinario
              </p>
            </div>
          </div>
        </a>
      </section>

      <div class="section-dark our-work" id="our-work">
        <div class="container">
          <div class="columns is-multiline" data-aos="fade-in" data-aos-easing="linear">
            <div class="column is-12">
              <h2 class="title has-text-centered section-title">Nuestros trabajos</h2>
            </div>
            <div class="column is-3">
              <a href="#">
                <figure
                  class="image is-2by1 work-item"
                  style="background-image: url('../webresources/images/technology-g8b94abb17_1920.jpg');"
                ></figure>
              </a>
            </div>
            <div class="column is-3">
              <a href="#">
                <figure
                  class="image is-2by1 work-item"
                  style="background-image: url('../webresources/images/gloves-g39f8b4795_1920.jpg');"
                ></figure>
              </a>
            </div>
            <div class="column is-3">
              <a href="#">
                <figure
                  class="image is-2by1 work-item"
                  style="background-image: url('../webresources/images/doctors-office-g86867a669_1920.jpg');"
                ></figure>
              </a>
            </div>
            <div class="column is-3">
              <a href="#">
                <figure
                  class="image is-2by1 work-item"
                  style="background-image: url('../webresources/images/instrumentation-g254eb5314_1920.jpg');"
                ></figure>
              </a>
            </div>
            <div class="column is-3">
              <a href="#">
                <figure
                  class="image is-2by1 work-item"
                  style="background-image: url('../webresources/images/surgery-gd2b119b3b_1920.jpg');"
                ></figure>
              </a>
            </div>
            <div class="column is-3">
              <a href="#">
                <figure
                  class="image is-2by1 work-item"
                  style="background-image: url('../webresources/images/fire-fighting-302586_1920.jpg');"
                ></figure>
              </a>
            </div>
            <div class="column is-3">
              <a href="#">
                <figure
                  class="image is-2by1 work-item"
                  style="background-image: url('../webresources/images/hospital-gff3377a0f_1920.jpg');"
                ></figure>
              </a>
            </div>
            <div class="column is-3">
              <a href="#">
                <figure
                  class="image is-2by1 work-item"
                  style="background-image: url('../webresources/images/fire-g62822f952_1920.jpg');"
                ></figure>
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- End Main Content -->

    <!-- Footer -->
    <footer class="footer">
      <div class="content has-text-centered">
        <strong class="white">© 2012-2022 Suministros Isdegu</strong>
        <a href="https://www.isdegu.com/info/avisolegal.html">Aviso legal</a>
        <a href="https://www.isdegu.com/info/politica-privacidad.html">Política de privacidad</a>
      </div>
    </footer>

    <!-- End area -->
    <script src="../webresources/js/jquery-3.6.0.min.js"></script>
    <script src="../webresources/js/isdegu.js"></script>
    <script src="../webresources/js/aos.js"></script>
    <script>
      AOS.init({
        easing: "ease-out",
        duration: 800,
      });
    </script>
  </body>
</html>
