<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Isdegu - Bulma Theme</title>
    <link rel="stylesheet" type="text/css" href="../webresources/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../webresources/css/fonts.css"/>
    <link rel="stylesheet" type="text/css" href="../webresources/css/isdegu.css" />
    <link rel="stylesheet" type="text/css" href="../webresources/css/aos.css">
    <link rel="icon" type="image/png" href="../webresources/images/logo_isdegu.png" />
  </head>

  <body>
    <!-- Begin Header -->
    <div class="header-wrapper" id="home">
      <section class="hero is-large">
        <!-- Begin Hero Content-->
        <div class="hero-body">
          <div class="container has-text-centered">
            <h2 class="title">ISDEGU <span>SUMINISTROS</span></h2>
            <h1 class="subtitle">El espíritu de una firma líder en el sector de seguridad y abastecimiento sanitario</h1>
          </div>
        </div>
        <!-- End Hero Content-->
        <!-- Begin Hero Menu -->
        <div class="hero-foot ">
          <div class="hero-foot--wrapper">
            <div class="columns">
              <div class="column is-12 hero-menu-desktop has-text-centered">
                <ul>
                  <li class="is-active">
                    <a href="#home">Home</a>
                  </li>
                  <li>
                    <a href="#about-us">¿Quiénes somos?</a>
                  </li>
                  <li>
                    <a href="#services">Servicios</a>
                  </li>
                  <li>
                    <a href="#skills">Mobiliario Clínico</a>
                  </li>
                  <li>
                    <a href="#our-work">Contraincendios</a>
                  </li>
                  <li>
                    <a href="#contact">Contáctanos</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- End Hero Menu -->
      </section>
      <!-- End Hero -->
    </div>
    <!-- End Header -->

    <!-- Begin Main Content -->
    <div class="main-content">
      
      <!-- Begin About Me Section -->
      <div class="section-light about-us" id="about-us">
        <div class="container">
          <div class="column is-12 about-us">
            <h1 class="title has-text-centered section-title">Seguridad y compromiso</h1>
          </div>
          <div class="columns is-multiline">
            <div class="column is-6 has-vertically-aligned-content" data-aos="fade-right">
              <p class="is-larger">
                <strong>
                  El espíritu de una firma líder en el sector de seguridad y abastecimiento sanitario
                </strong>
              </p>
              <br />
              <p>
                Somos una empresa constituida por un equipo dinámico y 
                con espíritu de ser una de las firmas más consolidadas en el 
                sector de seguridad. Isdegu Suministros tiene sus orígenes en 
                el sector de la prevención y la lucha contra incendios, donde 
                nuestro servicio de calidad y eficiencia, nos permitió 
                consolidarnos en el mismo.
              </p>
            </div>
            <div class="column is-6 right-image " data-aos="fade-left">
              <img
                class="is-rounded"
                src="../webresources/images/skin-gdfea348ab_1920.jpg"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
      <!-- End About Me Content -->

      <div id="quality" class="section-light">
        <div class="container">
          <div class="columns is-multiline" data-aos="fade-in" data-aos-easing="linear">
            <div class="column is-12">
              <h1 class="title has-text-centered section-title">
                Un servicio de calidad
              </h1>
            </div>
            <div class="column is-10 has-text-centered is-offset-1">
              <h2 class="subtitle">
                En Isdegu Suministros tenemos la garantía 
                de una adecuada instalación de todos nuestros productos. Cada 
                instalación es realizada tras una exhaustiva planificación de 
                la misma y cumpliendo todas las normativas tanto nacionales 
                como provinciales de sistemas de protección contra incendios.
              </h2>
            </div>
          </div>
        </div>

        <!-- <div class="hero-body">
          <div class="container">
            <div class="columns">
              <div class="column is-6 is-offset-6">
                <h1 class="title has-text-centered section-title">Un servicio de calidad</h1>
                <h2 class="subtitle"> En Isdegu Suministros tenemos la garantía 
                  de una adecuada instalación de todos nuestros productos. Cada 
                  instalación es realizada tras una exhaustiva planificación de 
                  la misma y cumpliendo todas las normativas tanto nacionales 
                  como provinciales de sistemas de protección contra incendios.</h2>
              </div>
            </div>
          </div>
        </div> -->
      </div>

      <!-- Begin Work Content -->
      <div class="section-dark our-work" id="our-work">
        <div class="container">
          <div
            class="columns is-multiline"
            data-aos="fade-in"
            data-aos-easing="linear"
          >
            <div class="column is-12">
              <h1 class="title has-text-centered section-title">Nuestro trabajo</h1>
            </div>
            <div class="column is-3">
              <a href="#">
                <figure
                  class="image is-2by1 work-item"
                  style="background-image: url('../webresources/images/works/campana-ext.jpg');"
                ></figure>
              </a>
            </div>
            <div class="column is-3">
              <a href="#">
                <figure
                  class="image is-2by1 work-item"
                  style="background-image: url('../webresources/images/gloves-g39f8b4795_1920.jpg');"
                ></figure>
              </a>
            </div>
            <div class="column is-3">
              <a href="#">
                <figure
                  class="image is-2by1 work-item"
                  style="background-image: url('../webresources/images/doctors-office-g86867a669_1920.jpg');"
                ></figure>
              </a>
            </div>
            <div class="column is-3">
              <a href="#">
                <figure
                  class="image is-2by1 work-item"
                  style="background-image: url('../webresources/images/instrumentation-g254eb5314_1920.jpg');"
                ></figure>
              </a>
            </div>
            <div class="column is-3">
              <a href="#">
                <figure
                  class="image is-2by1 work-item"
                  style="background-image: url('../webresources/images/surgery-gd2b119b3b_1920.jpg');"
                ></figure>
              </a>
            </div>
            <div class="column is-3">
              <a href="#">
                <figure
                  class="image is-2by1 work-item"
                  style="background-image: url('../webresources/images/fire-fighting-302586_1920.jpg');"
                ></figure>
              </a>
            </div>
            <div class="column is-3">
              <a href="#">
                <figure
                  class="image is-2by1 work-item"
                  style="background-image: url('../webresources/images/hospital-gff3377a0f_1920.jpg');"
                ></figure>
              </a>
            </div>
            <div class="column is-3">
              <a href="#">
                <figure
                  class="image is-2by1 work-item"
                  style="background-image: url('../webresources/images/fire-g62822f952_1920.jpg');"
                ></figure>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- End Work Content -->

    </div>
    <!-- End Main Content -->

    <!-- Footer -->
    <footer class="footer">
      <div class="content has-text-centered">
        <strong class="white">© 2012-2022 Suministros Isdegu</strong>
        <a href="https://www.isdegu.com/info/avisolegal.html">Aviso legal</a>
        <a href="https://www.isdegu.com/info/politica-privacidad.html">Política de privacidad</a>
      </div>
    </footer>

    <!-- End area -->
    <script src="../webresources/js/jquery-3.6.0.min.js"></script>
    <script src="../webresources/js/isdegu.js"></script>
    <script src="../webresources/js/aos.js"></script>
    <script>
      AOS.init({
        easing: "ease-out",
        duration: 800,
      });
    </script>
  </body>
</html>
