<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Isdegu - Bulma Theme</title>
  <link rel="stylesheet" type="text/css" href="../webresources/css/bulma.min.css" />
  <link rel="stylesheet" type="text/css" href="../webresources/css/fonts.css" />
  <link rel="stylesheet" type="text/css"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="../webresources/css/isdegu.css" />
  <link rel="stylesheet" type="text/css" href="../webresources/css/aos.css">
  <link rel="icon" type="image/png" href="../webresources/images/logo_isdegu.png" />
</head>

<body>
  <a id="toTop" title="Go to top"></a>
  <div class="header-wrapper">
    <section id="clinic" class="hero is-large">
      <div class="hero-head">
        <header class="navbar">
          <div class="container">
            <a href="/" class="is-flex-center is-header-text">
              <img id="isdegu-logo" src="../webresources/images/logo_isdegu_blanco.png" alt="Logo">
              <h1 class="title">ISDEGU <span>SUMINISTROS</span></h1>
            </a>
          </div>
        </header>
      </div>
      <div class="hero-body">
        <div class="container is-main-title">
          <h3 class="title">Mobiliario clínico</h3>
          <h4 class="subtitle">
            Servicio personalizado y de calidad en equipamiento del sector sanitario
          </h4>
        </div>
      </div>
  </div>

  <div class="main-content">

    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><a href="/">Inicio</a></li>
        <li class="is-active"><a href="#" aria-current="page">Mobiliario clínico</a></li>
      </ul>
    </nav>

    <div class="section-light catalog">

      <div class="columns is-multiline is-two-thirds-mobile is-three-quarters-thirds-tablet is-half-desktop">
        <div class="column is-4">
          <a href="../catalogos/basculas.pdf" target="_blank">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="../webresources/images/catalog/basculas.png" alt="básculas">
                </figure>
              </div>
              <div class="card-content">
                <p class="content">Básculas</p>
              </div>
            </div>
          </a>
        </div>
        <div class="column is-4">
          <a href="../catalogos/carros_modulares.pdf" target="_blank">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="../webresources/images/catalog/carros_modulares.png" alt="carros modulares">
                </figure>
              </div>
              <div class="card-content">
                <p class="content">Carros modulares</p>
              </div>
            </div>
          </a>
        </div>
        <div class="column is-4">
          <a href="../catalogos/carros_varios.pdf" target="_blank">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="../webresources/images/catalog/carros_varios.png" alt="carros varios">
                </figure>
              </div>
              <div class="card-content">
                <p class="content">Carros varios</p>
              </div>
            </div>
          </a>
        </div>
        <div class="column is-4">
          <a href="../catalogos/complementos.pdf" target="_blank">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="../webresources/images/catalog/complementos.png" alt="complementos">
                </figure>
              </div>
              <div class="card-content">
                <p class="content">Complementos</p>
              </div>
            </div>
          </a>
        </div>
        <div class="column is-4">
          <a href="../catalogos/consulta.pdf" target="_blank">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="../webresources/images/catalog/consulta.png" alt="Consulta">
                </figure>
              </div>
              <div class="card-content">
                <p class="content">Consulta</p>
              </div>
            </div>
          </a>
        </div>
        <div class="column is-4">
          <a href="../catalogos/delantales_plomados.pdf" target="_blank">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="../webresources/images/catalog/delantales_plomados.png" alt="Delantales plomados">
                </figure>
              </div>
              <div class="card-content">
                <p class="content">Delantales plomados</p>
              </div>
            </div>
          </a>
        </div>
        <div class="column is-4">
          <a href="../catalogos/iluminacion.pdf" target="_blank">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="../webresources/images/catalog/iluminacion.png" alt="Iluminación">
                </figure>
              </div>
              <div class="card-content">
                <p class="content">Iluminación</p>
              </div>
            </div>
          </a>
        </div>
        <div class="column is-4">
          <a href="../catalogos/material_desechable.pdf" target="_blank">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="../webresources/images/catalog/material_desechable.png" alt="Material desechable">
                </figure>
              </div>
              <div class="card-content">
                <p class="content">Material desechable</p>
              </div>
            </div>
          </a>
        </div>
        <div class="column is-4">
          <a href="../catalogos/mesas_de_reconocimiento.pdf" target="_blank">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="../webresources/images/catalog/mesas_de_reconocimiento.png" alt="Mesas de reconocimiento">
                </figure>
              </div>
              <div class="card-content">
                <p class="content">Mesas de reconocimiento</p>
              </div>
            </div>
          </a>
        </div>
        <div class="column is-4">
          <a href="../catalogos/mesitas_auxiliares.pdf" target="_blank">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="../webresources/images/catalog/mesitas_auxiliares.png" alt="Mesitas auxiliares">
                </figure>
              </div>
              <div class="card-content">
                <p class="content">Mesitas auxiliares</p>
              </div>
            </div>
          </a>
        </div>
        <div class="column is-4">
          <a href="../catalogos/muebles_a_medida.pdf" target="_blank">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="../webresources/images/catalog/muebles_a_medida.png" alt="Muebles a medida">
                </figure>
              </div>
              <div class="card-content">
                <p class="content">Muebles a medida</p>
              </div>
            </div>
          </a>
        </div>
        <div class="column is-4">
          <a href="../catalogos/negatoscopios.pdf" target="_blank">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="../webresources/images/catalog/negatoscopios.png" alt="Negatoscopios">
                </figure>
              </div>
              <div class="card-content">
                <p class="content">Negatoscopios</p>
              </div>
            </div>
          </a>
        </div>
        <div class="column is-4">
          <a href="../catalogos/rehabilitacion.pdf" target="_blank">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="../webresources/images/catalog/rehabilitacion.png" alt="Rehabilitación">
                </figure>
              </div>
              <div class="card-content">
                <p class="content">Rehabilitación</p>
              </div>
            </div>
          </a>
        </div>
        <div class="column is-4">
          <a href="../catalogos/taburetes.pdf" target="_blank">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="../webresources/images/catalog/taburetes.png" alt="Taburetes">
                </figure>
              </div>
              <div class="card-content">
                <p class="content">Taburetes</p>
              </div>
            </div>
          </a>
        </div>
        <div class="column is-4">
          <a href="../catalogos/vitrinas.pdf" target="_blank">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="../webresources/images/catalog/vitrinas.png" alt="Vitrinas">
                </figure>
              </div>
              <div class="card-content">
                <p class="content">Vitrinas</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <section id="contact" class="hero is-medium is-primary">
      <div class="hero-body">
        <div class="container has-text-left-desktop-only" data-aos="fade-in">
          <h2 class="title">
            Contacte con nosotros
          </h2>
          <p class="subtitle is-marginless">
            Para cualquier consulta, póngase en contacto con nosotros a través de nuestro e-mail:
          </p>
          <a class="contact-link" href="mailto:isdegu@gmail.com">
            <i class="fa fa-envelope" aria-hidden="true"></i> isdegu@gmail.com
          </a>
          <p class="subtitle is-marginless">
            O bien llámenos sin compromiso al teléfono:
          </p>
          <a class="contact-link" href="tel:+34672146641">
            <i class="fa fa-phone-square" aria-hidden="true"></i> 672 146 641
          </a>
        </div>
      </div>
    </section>

  </div>

  <footer class="footer">
    <div class="content has-text-centered">
      <strong class="white">© 2012-2022 Suministros Isdegu</strong>
      <a href="https://www.isdegu.com/info/avisolegal.html">Aviso legal</a>
      <a href="https://www.isdegu.com/info/politica-privacidad.html">Política de privacidad</a>
    </div>
  </footer>

  <script src="../webresources/js/jquery-3.6.0.min.js"></script>
  <script src="../webresources/js/isdegu.js"></script>
  <script src="../webresources/js/aos.js"></script>
  <script>
    AOS.init({
      easing: "ease-out",
      duration: 800,
    });
  </script>
</body>

</html>