<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Isdegu - Bulma Theme</title>
  <link rel="stylesheet" type="text/css" href="../webresources/css/bulma.min.css" />
  <link rel="stylesheet" type="text/css" href="../webresources/css/fonts.css" />
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="../webresources/css/isdegu.css" />
  <link rel="stylesheet" type="text/css" href="../webresources/css/aos.css">
  <link rel="icon" type="image/png" href="../webresources/images/logo_isdegu.png" />
</head>

<body>
  <a id="toTop" title="Go to top"></a>
  <div class="header-wrapper">
    <section id="fire" class="hero is-large">
      <div class="hero-head">
        <header class="navbar">
          <div class="container">
            <a href="/" class="is-flex-center is-header-text">
              <img id="isdegu-logo" src="../webresources/images/logo_isdegu_blanco.png" alt="Logo">
              <h1 class="title">ISDEGU <span>SUMINISTROS</span></h1>
            </a>
          </div>
        </header>
      </div>
      <div class="hero-body">
        <div class="container is-main-title">
          <h3 class="title">Sistemas contra incendios</h3>
          <h4 class="subtitle">
            Amplio catálogo de productos contra incendios. La seguridad es lo primero.
          </h4>
        </div>
      </div>
  </div>

  <div class="main-content">

    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li><a href="/">Inicio</a></li>
            <li class="is-active"><a href="#" aria-current="page">Sistemas contra incendios</a></li>
        </ul>
    </nav>

    <div class="section-light catalog">
      <div class="column is-12" data-aos="fade-in">
        <h2 class="title has-text-centered section-title">Novedades</h2>
      </div>
      <div class="tile is-ancestor">
        <div class="tile is-vertical is-12" data-aos="fade-in">
          <div class="tile is-parent">
            <article class="tile is-child box">
                <p class="title">Nuevo producto: Delantales plomados</p>
                <p class="content">Isdegu incorpora a su catálogo nuevos delantales plomados, elemento indispensable en
                    la práctica sanitaria.</p>
            </article>
            <article class="tile is-child box">
                <p class="title">Nuevo producto: Delantales plomados</p>
                <p class="content">Isdegu incorpora a su catálogo nuevos delantales plomados, elemento indispensable en
                    la práctica sanitaria.</p>
            </article>
            <article class="tile is-child box">
                <p class="title">Nuevo producto: Delantales plomados</p>
                <p class="content">Isdegu incorpora a su catálogo nuevos delantales plomados, elemento indispensable en
                    la práctica sanitaria.</p>
            </article>
            <article class="tile is-child box">
                <p class="title">Nuevo producto: Delantales plomados</p>
                <p class="content">Isdegu incorpora a su catálogo nuevos delantales plomados, elemento indispensable en
                    la práctica sanitaria.</p>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child box">
                <p class="title">Nuevo producto: Delantales plomados</p>
                <p class="content">Isdegu incorpora a su catálogo nuevos delantales plomados, elemento indispensable en
                    la práctica sanitaria.</p>
            </article>
            <article class="tile is-child box">
                <p class="title">Nuevo producto: Delantales plomados</p>
                <p class="content">Isdegu incorpora a su catálogo nuevos delantales plomados, elemento indispensable en
                    la práctica sanitaria.</p>
            </article>
            <article class="tile is-child box">
                <p class="title">Nuevo producto: Delantales plomados</p>
                <p class="content">Isdegu incorpora a su catálogo nuevos delantales plomados, elemento indispensable en
                    la práctica sanitaria.</p>
            </article>
            <article class="tile is-child box">
                <p class="title">Nuevo producto: Delantales plomados</p>
                <p class="content">Isdegu incorpora a su catálogo nuevos delantales plomados, elemento indispensable en
                    la práctica sanitaria.</p>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child box">
                <p class="title">Nuevo producto: Delantales plomados</p>
                <p class="content">Isdegu incorpora a su catálogo nuevos delantales plomados, elemento indispensable en
                    la práctica sanitaria.</p>
            </article>
            <article class="tile is-child box">
                <p class="title">Nuevo producto: Delantales plomados</p>
                <p class="content">Isdegu incorpora a su catálogo nuevos delantales plomados, elemento indispensable en
                    la práctica sanitaria.</p>
            </article>
            <article class="tile is-child box">
                <p class="title">Nuevo producto: Delantales plomados</p>
                <p class="content">Isdegu incorpora a su catálogo nuevos delantales plomados, elemento indispensable en
                    la práctica sanitaria.</p>
            </article>
            <article class="tile is-child box">
                <p class="title">Nuevo producto: Delantales plomados</p>
                <p class="content">Isdegu incorpora a su catálogo nuevos delantales plomados, elemento indispensable en
                    la práctica sanitaria.</p>
            </article>
          </div>
        </div>
      </div>
    </div>

    <section id="contact" class="hero is-medium is-primary">
      <div class="hero-body">
        <div class="container has-text-left-desktop-only" data-aos="fade-in">
          <h2 class="title">
            Contacte con nosotros
          </h2>
          <p class="subtitle is-marginless">
            Para cualquier consulta, póngase en contacto con nosotros a través de nuestro e-mail:
          </p>
          <a class="contact-link" href="mailto:isdegu@gmail.com">
            <i class="fa fa-envelope" aria-hidden="true"></i> isdegu@gmail.com
          </a>
          <p class="subtitle is-marginless">
            O bien llámenos sin compromiso al teléfono:
          </p>
          <a class="contact-link" href="tel:+34672146641">
            <i class="fa fa-phone-square" aria-hidden="true"></i> 672 146 641
          </a>
        </div>
      </div>
    </section>

  </div>

  <footer class="footer">
    <div class="content has-text-centered">
      <strong class="white">© 2012-2022 Suministros Isdegu</strong>
      <a href="https://www.isdegu.com/info/avisolegal.html">Aviso legal</a>
      <a href="https://www.isdegu.com/info/politica-privacidad.html">Política de privacidad</a>
    </div>
  </footer>

  <script src="../webresources/js/jquery-3.6.0.min.js"></script>
  <script src="../webresources/js/isdegu.js"></script>
  <script src="../webresources/js/aos.js"></script>
  <script>
    AOS.init({
      easing: "ease-out",
      duration: 800,
    });
  </script>
</body>

</html>